* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #262626;
}

.form-container {
    background-color: white;
    border-radius: 10px;
    width: 300px;
}

.form-container form {
    width: 200px;
}

.list-group .list-group-item {
    border-width: 1px;
    border-radius: 10px;
    padding: 20px;
    transition: 0.3s;
    color: white;
}

.list-group a:nth-child(odd) {
    background-color: #6C5CE7;
}

.list-group a:nth-child(even) {
    background-color: #00B894;
}

.list-group a:nth-child(odd):hover {
    background-color: #574B90;
}

.list-group a:nth-child(even):hover {
    background-color: #019875;
}

.btn-custom {
    border-width: 1px;
    border-radius: 10px;
    padding: 20px;
    transition: 0.3s;
    color: white;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.btn-color-1 {
    background-color: #6C5CE7;
}

.btn-color-2 {
    background-color: #00B894;
}

.btn-color-1:hover {
    background-color: #574B90;
}

.btn-color-2:hover {
    background-color: #019875;
}

#eliminar-cuenta {
    border-width: 1px;
    border-radius: 10px;
    padding: 20px;
    transition: 0.3s;
    color: white;
    background-color: #E17055;
}

#eliminar-cuenta:hover {
    background-color: #D63031;
}

#cerrar-sesion {
    color: #2d3436;
    background-color: white;
}

#cerrar-sesion:hover {
    background-color: #f1f2f6;
    border-color: #b2bec3;
    color: #2d3436;
}

.crud-table {
    overflow-y: auto;
}

.crud-table-anun {
    max-height: 757px;
}

.crud-table-cli {
    max-height: 836px;
}

.table>thead {
    vertical-align: middle;
}

.table thead th {
    background-color: #019875;
    color: white;
}

.table>tbody {
    vertical-align: middle;
}